// COLORS 
$background-intro: hsl(217, 28%, 15%); 
$background-main: hsl(217, 27%, 13%); 
$background-testimonials: hsl(219, 30%, 18%); 
$background-footer: hsl(216, 53%, 9%);
$accent-cyan: hsl(176, 68%, 64%);
$accent-blue: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);

// TYPOGRAPHY
$heading: 'Raleway', sans-serif;
$body: 'Open Sans', sans-serif;

// MIXINS
@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// RESET
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  // To set 1rem equal to 10px (10px/16px = 62.5%)
  font-size: 62.5%;

  @media only screen and (max-width: 75em) {
    font-size: 60%;
  } 

  @media only screen and (max-width: 56.25em) {
    font-size: 55%;
  } 

  @media only screen and (max-width: 47em) {
    font-size: 51%;
  } 
}

body {
  box-sizing: border-box;
  font-family: $body;
  background: $background-main;
  color: $white;
  font-size: 1.4rem;
  line-height: 1.4;
}

a,
a:active,
a:visited {
  color: $white;
  text-decoration: none;
}

a:hover {
  color: $accent-blue;
}

.heading-1 {
  font-family: $heading;
  font-size: clamp(3rem, 2.5vw, 3.5rem);
}

.heading-2 {
  font-size: 1.9rem;
  font-weight: 400;
}

.heading-3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.btn {
  background: linear-gradient(to right, rgba($accent-cyan, .8), $accent-blue);
  color: $white;
  padding: 1.5rem 5rem;
  border-radius: 10rem;
  font-weight: 700;
  font-size: 1.7rem;
}

// GRID COLUMNS
.container {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(auto, 14em)) minmax(2rem, 1fr);
  align-items: center;
  gap: 2rem;

  @media only screen and (min-width: 112.5em) {
    gap: 5rem;
  }
}



// TOP NAVBAR 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;

  &__logo {
    
    img {
      width: 25vw;
      max-width: 15rem;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  @media only screen and (max-width: 47em) {
    

    &__item {
  
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  } 
}

// INTRO 
.header {
  text-align: center; 
  background: $background-intro url("/images/bg-curvy-desktop.svg") no-repeat;
  background-size: 100% auto;
  background-position: 50% 100%;
  padding: 2rem 0 10rem 0;
  
  &__illustration {
    margin-top: 5rem;
    
    img {
      width: clamp(30rem, 55vw, 60rem);
    }
  }
  
  &__text {
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    
    .heading-1 {
      margin-top: 5rem;
    }
    
    .heading-2 {
      width: 80%;
      margin: 3rem auto 5rem auto;
    }

    .btn {
      padding: 1.5rem 10rem;
    }
  }

  // &__bg {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   transform: scale(1.5);
  //   z-index: -1;

  //   &-mobile {
  //     display: none;
  //   }
  // }
  
  @media only screen and (max-width: 47em) {
    background: $background-intro url("/images/bg-curvy-mobile.svg") no-repeat;
    background-size: 100% auto;
    background-position: bottom;
  } 
}

// FEATURES SECTION 

.features {
  padding: 7rem 0;

  .feature-box {
    padding: 5rem 3rem;
    text-align: center;
    justify-self: center; 
    max-width: 45rem;

    &__icon {

      img {
        width: 6rem;
      }
    } 

    &__heading {

      margin: 1.5rem 0;
    }

    &:nth-child(1) {
      grid-column: 3 / 5;
    }

    &:nth-child(2) {
      grid-column: 5 / 7;
    }

    &:nth-child(3) {
      grid-row: 2 / 3;
      grid-column: 3 / 5;
    }

    &:nth-child(4) {
      grid-row: 2 / 3;
      grid-column: 5 / 7;
    }
  }

  @media only screen and (max-width: 47em) {
    display: flex;
    flex-direction: column;
  } 
}

.feature-2 {
  padding: 7rem 0;

  &__illustration {
    grid-column: 2 / 5;
    justify-self: center;

    img {
      max-width: 40vw;
    }
  }

  &__content {
    grid-column: 5 / 8;
    margin-left: 2rem;

    div {
      width: 80%;
    }

    p {
      margin-bottom: 1.5rem;
    }

    a {
      color: $accent-cyan;
      display: inline flex;
      align-items: center;
      padding: .4rem 0;
      border-bottom: 2px solid $accent-cyan;

      img {
        display: inline-block;
        margin-left: .5rem;
      }
    }
  }

  @media only screen and (max-width: 47em) {
    margin-top: 7rem;

    &__illustration {
      grid-column: 2 / 8;
      place-self: center;
    }

    &__content {
      grid-column: 2 / 8;
      margin: 0 auto;

      div {
        width: 100%;
      }
    }
  } 
}

.testimonials { 
  padding: 12rem 0;

  .testimonial {
    background: $background-testimonials;
    border-radius: 5px;
    padding: 3rem 3.5rem;
    box-shadow: 10px 5px 10px rgba($background-testimonials, .2),0 5px 10px rgba($background-testimonials, .2); 

    &__text {
      font-size: 1.5rem;
    }

    &__footer {
      margin-top: 2.5rem;
      display: flex;
      align-items: center;
    }

    &__picture {
      margin-right: .9rem;
      @include align-center;

      img {
        width: 3.5rem;
        border-radius: 50%;
      }
    }

    &__author {

      p:first-child {
        font-weight: 700;
      }

      p:last-child {
        color: rgba($white, .5);
      }
    }

    .quote-icon {
      position: absolute;
      top: -3.5rem;
      left: -1rem;
      z-index: -1;
    }

    &:nth-child(1) {
      grid-column: 2 / 4;
      position: relative;
    }

    &:nth-child(2) {
      grid-column: 4 / 6;
    }

    &:nth-child(3) {
      grid-column: 6 / 8;
    }
  }

  @media only screen and (max-width: 47em) {

    .testimonial {

      &:nth-child(1) {
        grid-column: 2 / 8;
      }
  
      &:nth-child(2) {
        grid-column: 2 / 8;
      }
  
      &:nth-child(3) {
        grid-column: 2 / 8;
      }
    }
  }
}

.early-access {
  width: 90vw;
  max-width: 100rem;
  background: $background-intro;
  margin: 0 auto;
  padding: 6rem 0;
  text-align: center;
  transform: translateY(40%);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba($background-footer, 1);

  &__text {
    width: 70%;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  &__form {
    margin-top: 3rem;

    input {
      display: inline-block;
      width: 50%;
      padding: 1.5rem;
      border-radius: 100px;
      border: none;
      margin-right: 3rem;
    }

    button {
      display: inline-block;
      border: none;
    }
  }

  // @media only screen and (max-width: 75rem) {
  //   width: 60vw;
  // } 

  @media only screen and (max-width: 47em) {
    padding: 6rem 1rem;
    
    &__form {
      
      input {
        display: block;
        margin: 0 auto 2rem auto;
        width: 80%;
      }

      button {
        width: 80%;
      }
    }
  } 
}

.footer {
  background: $background-footer;
  padding: 22rem 0 5rem 0;
  font-size: 1.5rem;

  &__logo {
    grid-column: 2 / 8;
    margin-bottom: 2rem;
  }

  &__navigation {
    grid-column: 2 / 8;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    a {
      display: block;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;

      &:hover {

        svg {
          fill: $accent-blue;
        }
      }
    }

    svg {
      margin-right: 2rem;
    }
  }
  
  &__col {

    &:nth-child(1) {
      display: flex;
      align-items: flex-start;

      svg {
        // width: 9rem;
      }

      p {
        max-width: 33rem;
      }
    }

    &:nth-child(5) {
      display: flex;

      a {
        border: 1px solid $white;
        border-radius: 50%;
        padding: 1rem;
        margin: 0;
        justify-content: center;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:hover {
          border-color: $accent-blue;
        }
      }

      svg {
        margin: 0;
        width: 1.4rem;
        height: auto;
      }
    }
  }

  &__attribution {
    grid-column: 2 / 8;
    justify-self: center;
    margin-top: 5rem;
    text-align: center;
  }

  @media only screen and (max-width: 56.25em) {

    // &__logo {
    //   grid-column: 3 / 7;
    // }
    
    &__navigation {
      flex-direction: column;
      gap: 4rem;
      margin-top: 3rem;
    }

    &__col {

      &:nth-child(5) {
        align-self: center;
      }
    }
  } 
}


